.requiredInput::after {
    content: "*";
    color: #dc3545;
    margin-left: 2px;
}
a, a:visited, a:hover, a:active {
    color: inherit;
}
ol li, ul li {
    list-style-type: none;
}
ol, ul {
    padding-left: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.card-list >  li::before {
    content: "";
    display: block;
}

.mobile-menu-button{
    display: none;
}
.sidebar-compact{
    position: fixed;
    float:left;
    height: 100%;
    width: 5%;
    background-color:white;
    overflow-x: hidden;
    box-shadow: 4px 0px 12px #d5d5d5;
}

.sidebar-compact:hover{
    width: 15%;
    transition: width 0.2s;
    z-index:1;
}
.sidebar-brand-detail{
    display: inline-flex;
    width:100%;
    margin-bottom: 70px;
}
.sidebar-brand-detail > img{
    width: 70px;
}
.sidebar-brand-detail > label{
    display: hidden;
    width: 100%;
    text-align: center;
    margin: auto;
    font-size: 20px;
}
.sidebar-toggle-li{
    text-align: center;
    padding: 12px 0px;
}
.sidebar-toggle-li:hover{
    background-color: #d5d5d5;
}
.sidebar-toggle-li-open{
    padding: 12px 20px;
}
.sidebar-toggle-li-open > a{
    display: inline-flex;
    width: 100%;
    text-decoration: none;
}
.sidebar-toggle-li-open label{
    display: block;
    width: 100%;
    text-align: left;
    margin: auto 14px;
    font-size: 17px;
}
.sidebar-list-container i{
    font-size: 25px;
}
.sidebar-list-container label{
    display:none;
}
.content-compact{
    min-height: 100%;
    position: relative;
    padding-top: 1%;
    margin-left: 5%;
    /* overflow: scroll;
    overflow-x: hidden; */
}

@media only screen and (max-width:600px){
    .sidebar-compact{
        height: 12%;
        width: 100%;
        z-index: 1;
        box-shadow: 0px 4px 12px #d5d5d5;
    }

    .sidebar-brand-detail{
        margin-bottom: unset;
    }

    .sidebar-brand-detail > label{
        text-align: left;
        width: 32%;
        margin: auto 0%;
    }

    .sidebar-toggle-li{
        padding: 12px 20px;
    }

    .sidebar-toggle-li > a {
        display: inline-flex;
        width: 100%;
        text-decoration: none;
    }
    .sidebar-toggle-li label {
        display:inline-block;
        width: 100%;
        text-align: left;
        margin: auto 14px;
        font-size: 17px;
    }

    .mobile-menu-button{
        display: block;
        position: absolute;
        top: 8px;
        right: 15px;
        font-size: 35px;
    }

    .mobile-nav-open{
        height: 100%;
    }

    .content-compact{
        padding: 30% 0% 0% 0%;
        margin-left: 0%;
    }
}
/*

https://material.io/design/color/dark-theme.html#ui-application
https://uxdesign.cc/dark-mode-ui-design-the-definitive-guide-part-1-color-53dcfaea5129
https://colorhunt.co/palettes/dark
https://www.toptal.com/designers/ui/dark-ui-design

*/