.card-list > li{
    width: 20%;
    clear: both;
    margin-bottom: 3rem;
    padding-left: .4rem;
    padding-right: .4rem;
    display: inline-block;
    vertical-align: top;
    font-size: 1.4rem;
}

.team-card{
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.15);
    display: block;
    text-align: center;
    position: relative;
    overflow: hidden;
    text-decoration: none !important;
    width: 100%;
    height: auto;
}
.team-card .team-banner{
    height: 9.7rem;
    overflow: hidden;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
}
.team-card .team-badge{
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.25);
    width: 96px;
    height: 96px;
    position: absolute;
    top: 7rem;
    left: 50%;
    margin-left: -50px;
    border-radius: 100%;
    background: #fff;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
}
.team-card .team-info{
    padding: 4rem .5rem 2rem;
    line-height: 1.8;
}

.previewImage{
    height:210px;
    width:210px;
    background-image:url('https://dummyimage.com/180x180/adadad/fff');
    background-position:center;
    background-repeat:no-repeat;
    background-size: cover;
}

.previewSelectedImage{
    opacity: 0.0;

    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";

    /* IE 5-7 */
    filter: alpha(opacity=0);
    
    /* Netscape or and older firefox browsers */
    -moz-opacity: 0.0;

    /* older Safari browsers */
    -khtml-opacity: 0.0;

    /* position: absolute; */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height:100%;
}