.team-detail-badge{
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.25);
    width: 180px;
    height: 180px;
    border-radius: 100%;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
}

.stats-pwld-container{
    display:inline-flex;
}
.set-of-3{
    display:inline-flex;
}
.stats-pwld-container > .set-of-3 > .stat-container{
    width: 157px;
}

.stat-container{
    display: grid;
    padding: 0% 2%;
    text-align: center;
    font-weight: 600;
    border: 1px solid #e1e1e1;
    border-top-color: red;
}

.stat-value{
    font-weight: 700;
    font-size: 28px;
}

.playerOverviewCard{
    /* pointer-events: none; */
    position: relative;
    display: block;
    min-height: 16.4rem;
    text-decoration: none;
    color: #242424;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.15);
    border-radius: 3px;
    overflow: hidden;
}
.playerListContainer li{
    padding: 0 0.4rem;
}
.playerOverviewCard .squadPlayerHeader {
    background: #eaeaea;
        background-position-x: 0%;
        background-position-y: 0%;
        background-repeat: repeat;
        background-image: none;
    position: relative;
    padding: 1rem 1rem 0;
    /* background-image: url(../i/bg-elements/stats-card.png); */
    background-position: 100% 0;
    background-repeat: no-repeat;
    overflow: hidden;
    display: inline-block;
    width: 100%;
    height: 145px;
}

.player-image{
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    margin-left: 66%;
    margin-top: 0%;
}
.playerOverviewCard  li::after {
    content: "";
    display: table;
    clear: both;
}
.playerOverviewCard  li::before {
    content: "";
    display: table;
    clear: both;
}
.playerOverviewCard .playerCardInfo {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    text-align: left;
    display: inline-block;
    vertical-align: middle;
}

.playerOverviewCard .number {
    font-size: 1.8rem;
}

.playerOverviewCard .name {
    font-size: 1.8rem;
    margin: .2rem 0 .5rem;
    padding-right: 9rem;
    line-height: 1;
}


.playerOverviewCard .position, .playerOverviewCard .squadPlayerStats {
    font-size: 1.2rem;
}

.playerListContainer.card-list > li{
    width: 25%;
    clear: both;
    margin-bottom: 3rem;
    display: inline-block;
    vertical-align: top;
    font-size: 1.4rem;
}
.playerOverviewCard dl {
    margin: 0;
}
.playerOverviewCard dd, .playerOverviewCard dt {
    padding: 0rem 1.2rem 0rem;
}
.playerOverviewCard dt {
    float: left;
    color: #76766f;
}
.playerOverviewCard dd {
    font-family: PremierSans-Bold,Arial,Helvetica Neue,Helvetica,sans-serif;
    font-weight: 400;
    float: right;
}
.playerOverviewCard .view-btn{
    padding: 0% 37%;
    font-size: 16px;
}

.tab-container-style{
    padding-top: 2%;
}

.modify-player{
    text-align: right;
    /* height:0px; */
    /* background-color: #cecece;
    border-radius: 0px 0px 4px 4px; */
    padding: 0% 2%;
}
.modify-player .bi{
    cursor: pointer;
    margin: 0px 4px;
    /* position: relative;
    top: -33px; */
}

.team-page-head-content{
    display:flex;
    width: 56%;
    margin: 0% auto;
}

.team-detail-content{
    width: 50%;
}

.team-detail-content > .text-detail{
    padding: 2% 4%;
    height: 50%;
}

.team-detail-content > .button-holder{
    padding: 2% 4%;
    height: 50%;
}

.stats-pwld-container-p1{
    width:100%;
    text-align:center;
}

@media only screen and (max-width:600px){
    .team-page-head-content{
        display: inline-block;
        width: 100%;
        margin: 0%;
    }

    .team-detail-content{
        width: 100%;
    }

    .team-detail-badge{
        margin: auto;
    }

    .team-detail-content > .text-detail{
        padding: 5% 0%;
        height: 50%;
        text-align: center;
    }
    
    .team-detail-content > .button-holder{
        padding: 2% 0%;
        text-align: center;
    }

    .team-detail-content > .button-holder button{
        width: 49%;
    }

    .stats-pwld-container{
        display: block;
    }
    .set-of-3{
        width:100%;
        display: inline-flex;
    }
    .stat-container{
        width:100%;
    }

    .stat-title{
        font-size: 16px;
    }

    .stat-value{
        font-size: 25px;
    }
}